.satreport {
  font-size: 13px;
  line-height: normal;
  user-select: none;
  -moz-user-select: none;
  font-family: 'Lato', 'Source Sans Pro', Roboto, Helvetica, Arial, sans-serif;
  box-sizing: content-box;
  background: #fff;
  -webkit-font-smoothing: antialiased;
}
.satreport textarea {
  font: 400 13px Arial, 'Lato', 'Source Sans Pro', Roboto, Helvetica, sans-serif;
}
.satreport-sheet {
  position: relative;
  overflow: hidden;
  outline: none;
}
.satreport-table {
  position: relative;
  left: 0;
  top: 0;
  vertical-align: bottom;
}
.satreport-tooltip {
  font-family: inherit;
  position: absolute;
  padding: 5px 10px;
  color: #fff;
  border-radius: 1px;
  background: #000000;
  font-size: 12px;
  z-index: 201;
}
.satreport-tooltip:before {
  pointer-events: none;
  position: absolute;
  left: calc(50% - 4px);
  top: -4px;
  content: "";
  width: 8px;
  height: 8px;
  background: inherit;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 1;
  box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.3);
}
.satreport-color-palette {
  padding: 5px;
}
.satreport-color-palette table {
  margin: 0;
  padding: 0;
  border-collapse: separate;
  border-spacing: 2;
  background: #fff;
  display: table;
}
.satreport-color-palette table td {
  margin: 0;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0;
}
.satreport-color-palette table td:hover {
  border-color: #ddd;
}
.satreport-color-palette table td .satreport-color-palette-cell {
  width: 16px;
  height: 16px;
}
.satreport-color-palette table th {
  padding: 0;
}
.satreport-border-palette {
  padding: 6px;
}
.satreport-border-palette table {
  margin: 0;
  padding: 0;
  border-collapse: separate;
  border-spacing: 0;
  background: #fff;
  table-layout: fixed;
  display: table;
}
.satreport-border-palette table td {
  margin: 0;
}
.satreport-border-palette table th,
.satreport-border-palette table td {
  border: 0px;
  padding: 0px;
}
.satreport-border-palette .satreport-border-palette-left {
  border-right: 1px solid #eee;
  padding-right: 6px;
}
.satreport-border-palette .satreport-border-palette-left .satreport-border-palette-cell {
  width: 30px;
  height: 30px;
  cursor: pointer;
  text-align: center;
}
.satreport-border-palette .satreport-border-palette-left .satreport-border-palette-cell .satreport-icon-img {
  opacity: 0.8;
}
.satreport-border-palette .satreport-border-palette-left .satreport-border-palette-cell:hover {
  background-color: #eee;
}
.satreport-border-palette .satreport-border-palette-right {
  padding-left: 6px;
}
.satreport-border-palette .satreport-border-palette-right .satreport-toolbar-btn {
  margin-top: 0;
  margin-bottom: 3px;
}
.satreport-border-palette .satreport-border-palette-right .satreport-line-type {
  position: relative;
  left: 0;
  top: -3px;
}
.satreport-dropdown {
  position: relative;
}
.satreport-dropdown .satreport-dropdown-content {
  position: absolute;
  z-index: 1200;
  background: #fff;
  box-shadow: 1px 2px 5px 2px rgba(51, 51, 51, 0.15);
}
.satreport-dropdown.bottom-left .satreport-dropdown-content {
  top: calc(100% + 5px);
  left: 0;
}
.satreport-dropdown.bottom-right .satreport-dropdown-content {
  top: calc(100% + 5px);
  right: 0;
}
.satreport-dropdown.top-left .satreport-dropdown-content {
  bottom: calc(100% + 5px);
  left: 0;
}
.satreport-dropdown.top-right .satreport-dropdown-content {
  bottom: calc(100% + 5px);
  right: 0;
}
.satreport-dropdown .satreport-dropdown-title {
  padding: 0 5px;
  display: inline-block;
}
.satreport-dropdown .satreport-dropdown-header .satreport-icon.arrow-left {
  margin-left: 4px;
}
.satreport-dropdown .satreport-dropdown-header .satreport-icon.arrow-right {
  width: 10px;
  margin-right: 4px;
}
.satreport-dropdown .satreport-dropdown-header .satreport-icon.arrow-right .arrow-down {
  left: -130px;
}
/* resizer **/
.satreport-resizer {
  position: absolute;
  background-color: rgba(75, 137, 255, 0.25);
  z-index: 11;
}
.satreport-resizer .satreport-resizer-hover {
  /*background-color: rgba(75, 137, 255, .25);*/
}
.satreport-resizer .satreport-resizer-line {
  position: absolute;
}
.satreport-resizer.horizontal {
  cursor: row-resize;
}
.satreport-resizer.horizontal .satreport-resizer-line {
  border-bottom: 2px dashed #4b89ff;
  left: 0;
  bottom: 0;
}
.satreport-resizer.vertical {
  cursor: col-resize;
}
.satreport-resizer.vertical .satreport-resizer-line {
  border-right: 2px dashed #4b89ff;
  top: 0;
  right: 0;
}
/* scrollbar */
.satreport-scrollbar {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #f4f5f8;
  opacity: 0.9;
  z-index: 12;
}
.satreport-scrollbar.horizontal {
  right: 15px;
  overflow-x: scroll;
  overflow-y: hidden;
}
.satreport-scrollbar.horizontal > div {
  height: 1px;
  background: #ddd;
}
.satreport-scrollbar.vertical {
  bottom: 15px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.satreport-scrollbar.vertical > div {
  width: 1px;
  background: #ddd;
}
/* @{css-prefix}-overlayer */
.satreport-overlayer {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  outline: none;
}
.satreport-overlayer .satreport-overlayer-content {
  position: absolute;
  overflow: hidden;
  pointer-events: none;
  width: 100%;
  height: 100%;
}
.satreport-overlayer .satreport-overlayer-content .satreport-html-cell {
  position: absolute;
  display: flex;
  pointer-events: auto;
  justify-content: center;
  align-items: center;
}
.satreport-editor,
.satreport-selector {
  box-sizing: content-box;
  position: absolute;
  overflow: hidden;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* @{css-prefix}-selector */
.satreport-selector .hide-input {
  position: absolute;
  z-index: 0;
}
.satreport-selector .hide-input input {
  padding: 0;
  width: 0;
  border: none!important;
}
.satreport-selector .satreport-selector-area {
  position: absolute;
  border: 2px solid #4b89ff;
  background: rgba(75, 137, 255, 0.1);
  z-index: 5;
}
.satreport-selector .satreport-selector-clipboard,
.satreport-selector .satreport-selector-autofill {
  position: absolute;
  background: transparent;
  z-index: 100;
}
.satreport-selector .satreport-selector-clipboard {
  border: 2px dashed #4b89ff;
}
.satreport-selector .satreport-selector-autofill {
  border: 1px dashed rgba(0, 0, 0, 0.45);
}
.satreport-selector .satreport-selector-corner {
  pointer-events: auto;
  position: absolute;
  cursor: crosshair;
  font-size: 0;
  height: 5px;
  width: 5px;
  right: -5px;
  bottom: -5px;
  border: 2px solid #ffffff;
  background: #4b89ff;
}
.satreport-editor {
  z-index: 20;
}
.satreport-editor .satreport-editor-area {
  position: absolute;
  text-align: left;
  border: 2px solid #4b89ff;
  line-height: 0;
  z-index: 100;
  pointer-events: auto;
}
.satreport-editor .satreport-editor-area .input {
  box-sizing: content-box;
  border: none;
  padding: 0 3px;
  outline: none;
  resize: none;
  text-align: start;
  overflow-y: hidden;
  font: 400 13px Arial, 'Lato', 'Source Sans Pro', Roboto, Helvetica, sans-serif;
  color: inherit;
  white-space: normal;
  word-wrap: break-word;
  line-height: 22px;
  margin: 0;
}
.satreport-editor .satreport-editor-area .textline {
  overflow: hidden;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
}
.satreport-item {
  user-select: none;
  background: 0;
  border: 1px solid transparent;
  outline: none;
  height: 26px;
  color: rgba(0, 0, 0, 0.9);
  line-height: 26px;
  list-style: none;
  padding: 2px 10px;
  cursor: default;
  text-align: left;
  overflow: hidden;
}
.satreport-item.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.satreport-item:hover,
.satreport-item.active {
  background: rgba(0, 0, 0, 0.05);
}
.satreport-item.divider {
  height: 0;
  padding: 0;
  margin: 5px 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.satreport-item .label {
  float: right;
  opacity: 0.65;
  font-size: 1em;
}
.satreport-item.state,
.satreport-header.state {
  padding-left: 35px!important;
  position: relative;
}
.satreport-item.state:before,
.satreport-header.state:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  left: 12px;
  top: calc(50% - 5px);
  background: rgba(0, 0, 0, 0.08);
  border-radius: 2px;
}
.satreport-item.state.checked:before,
.satreport-header.state.checked:before {
  background: #4b89ff;
}
.satreport-checkbox {
  position: relative;
  display: inline-block;
  backface-visibility: hidden;
  outline: 0;
  vertical-align: baseline;
  font-style: normal;
  font-size: 1rem;
  line-height: 1em;
}
.satreport-checkbox > input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0!important;
  outline: 0;
  z-index: -1;
}
.satreport-suggest,
.satreport-contextmenu,
.satreport-sort-filter {
  position: absolute;
  box-shadow: 1px 2px 5px 2px rgba(51, 51, 51, 0.15);
  background: #fff;
  z-index: 1200;
  width: 260px;
  pointer-events: auto;
  overflow: auto;
}
.satreport-suggest {
  width: 200px;
}
.satreport-filter {
  border: 1px solid lightgray;
  font-size: 12px;
  margin: 10px;
}
.satreport-filter .satreport-header {
  padding: 0.5em 0.75em;
  background: #f8f8f9;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid transparent;
}
.satreport-filter .satreport-body {
  height: 200px;
  overflow-y: auto;
}
.satreport-filter .satreport-body .satreport-item {
  height: 20px;
  line-height: 20px;
}
.satreport-sort-filter .satreport-buttons {
  margin: 10px;
}
.satreport-toolbar,
.satreport-bottombar {
  height: 40px;
  padding: 0 30px;
  text-align: left;
  background: #f5f6f7;
  display: flex;
}
.satreport-bottombar {
  position: relative;
  border-top: 1px solid #e0e2e4;
}
.satreport-bottombar .satreport-menu > li {
  line-height: 40px;
  height: 40px;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
  border-right: 1px solid #e8eaed;
}
.satreport-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  user-select: none;
}
.satreport-menu > li {
  float: left;
  line-height: 1.25em;
  padding: 0.785em 1em;
  margin: 0;
  vertical-align: middle;
  text-align: left;
  font-weight: 400;
  color: #80868b;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bold;
}
.satreport-menu > li.active {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.65);
}
.satreport-menu > li .satreport-icon {
  margin: 0 6px;
}
.satreport-menu > li .satreport-icon .satreport-icon-img:hover {
  opacity: 0.85;
}
.satreport-menu > li .satreport-dropdown {
  display: inline-block;
}
.satreport-toolbar {
  border-bottom: 1px solid #e0e2e4;
}
.satreport-toolbar .satreport-toolbar-btns {
  display: inline-flex;
}
.satreport-toolbar .satreport-toolbar-more {
  padding: 0 6px 6px;
  text-align: left;
}
.satreport-toolbar .satreport-toolbar-more .satreport-toolbar-divider {
  margin-top: 0;
}
.satreport-toolbar .satreport-toolbar-btn {
  flex: 0 0 auto;
  display: inline-block;
  border: 1px solid transparent;
  height: 26px;
  line-height: 26px;
  min-width: 26px;
  margin: 6px 1px 0;
  padding: 0;
  text-align: center;
  border-radius: 2px;
}
.satreport-toolbar .satreport-toolbar-btn.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.satreport-toolbar .satreport-toolbar-btn:hover,
.satreport-toolbar .satreport-toolbar-btn.active {
  background: rgba(0, 0, 0, 0.08);
}
.satreport-toolbar-divider {
  display: inline-block;
  border-right: 1px solid #e0e2e4;
  width: 0;
  vertical-align: middle;
  height: 18px;
  margin: 12px 3px 0;
}
.satreport-print {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2000;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.satreport-print-bar {
  display: flex;
  position: relative;
  background: #2d2d2d;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  color: #fff;
}
.satreport-print-bar .-title {
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  float: left;
}
.satreport-print-bar .center {
  flex-grow: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.satreport-print-bar .searchbar {
  position: relative;
  display: flex;
  align-items: center;
}
.satreport-print-bar .searchbar input {
  height: 30px;
  width: 160px;
  font-size: 14px;
  /*border-radius: 15px;*/
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: 0 0;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 40px;
  color: #999;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}
.satreport-print-bar .searchbar input:focus {
  border: 1px solid #fff;
  color: #fff;
  outline: 0;
}
.satreport-print-bar .btnSearch:hover {
  background-color: transparent;
}
.satreport-print-bar .btnSearch {
  position: absolute;
  right: 0;
}
.satreport-print-content {
  display: flex;
  flex: auto;
  flex-direction: row;
  background: #d0d0d0;
  height: calc(100% - 60px);
}
.satreport-print-content .-sider {
  flex: 0 0 300px;
  width: 300px;
  border-left: 2px solid #ccc;
  background: #fff;
}
.satreport-print-content .-content {
  flex: auto;
  overflow-x: auto;
  overflow-y: scroll;
  height: 100%;
}
.satreport-icon-btn {
  display: inline-block;
  border: 1px solid transparent;
  height: 26px;
  line-height: 26px;
  min-width: 26px;
  margin: 6px 1px 0;
  padding: 0;
  text-align: center;
  border-radius: 2px;
}
.satreport-icon-btn:hover,
.satreport-icon-btn.active {
  background: rgba(12, 12, 12, 0.08);
}
.satreport-canvas-card-wraper {
  margin: 40px 20px;
}
.satreport-canvas-card {
  background: #fff;
  margin: auto;
  page-break-before: auto;
  page-break-after: always;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 3px rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.2);
}
.satreport-calendar {
  color: rgba(0, 0, 0, 0.65);
  background: #ffffff;
  user-select: none;
}
.satreport-calendar .calendar-header {
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  width: 100%;
  float: left;
  background: #f9fafb;
}
.satreport-calendar .calendar-header .calendar-header-left {
  padding-left: 5px;
  float: left;
}
.satreport-calendar .calendar-header .calendar-header-right {
  float: right;
}
.satreport-calendar .calendar-header .calendar-header-right a {
  padding: 3px 0;
  margin-right: 2px;
  border-radius: 2px;
}
.satreport-calendar .calendar-header .calendar-header-right a:hover {
  background: rgba(0, 0, 0, 0.08);
}
.satreport-calendar .calendar-body {
  border-collapse: collapse;
  border-spacing: 0;
}
.satreport-calendar .calendar-body th,
.satreport-calendar .calendar-body td {
  width: 14.28571429%;
  min-width: 32px;
  text-align: center;
  font-weight: 700;
  line-height: 30px;
  padding: 0;
}
.satreport-calendar .calendar-body td > .cell:hover {
  background: #ecf6fd;
}
.satreport-calendar .calendar-body td > .cell.active,
.satreport-calendar .calendar-body td > .cell.active:hover {
  background: #ecf6fd;
  color: #2185D0;
}
.satreport-calendar .calendar-body td > .cell.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.satreport-datepicker {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  top: calc(100% + 5px);
  z-index: 10;
  width: auto;
}
.satreport-buttons {
  display: flex;
  justify-content: flex-end;
}
.satreport-buttons .satreport-button {
  margin-left: 8px;
}
.satreport-button {
  display: inline-block;
  border-radius: 3px;
  line-height: 1em;
  min-height: 1em;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  font-size: 1em;
  font-weight: 700;
  padding: 0.75em 1em;
  color: rgba(0, 0, 0, 0.6);
  background: #E0E1E2;
  text-decoration: none;
  font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
  outline: none;
  vertical-align: baseline;
  zoom: 1;
  user-select: none;
  transition: all 0.1s linear;
}
.satreport-button.active,
.satreport-button:hover {
  background-color: #C0C1C2;
  color: rgba(0, 0, 0, 0.8);
}
.satreport-button.primary {
  color: #fff;
  background-color: #2185D0;
}
.satreport-button.primary:hover,
.satreport-button.primary.active {
  color: #fff;
  background-color: #1678c2;
}
.satreport-form-input {
  font-size: 1em;
  position: relative;
  font-weight: 400;
  display: inline-flex;
  color: rgba(0, 0, 0, 0.87);
}
.satreport-form-input input {
  z-index: 1;
  margin: 0;
  max-width: 100%;
  flex: 1 0 auto;
  outline: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-align: left;
  line-height: 30px;
  height: 30px;
  padding: 0 8px;
  background: #fff;
  border: 1px solid lightgray;
  border-radius: 3px;
  transition: box-shadow 0.1s ease, border-color 0.1s ease;
  box-shadow: inset 0 1px 2px hsla(0, 0%, 4%, 0.06);
}
.satreport-form-input input:focus {
  border-color: #4b89ff;
  box-shadow: inset 0 1px 2px rgba(75, 137, 255, 0.2);
}
.satreport-form-select {
  position: relative;
  display: inline-block;
  background: #fff;
  border: 1px solid lightgrey;
  border-radius: 2px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.87);
  user-select: none;
  box-shadow: inset 0 1px 2px hsla(0, 0%, 4%, 0.06);
}
.satreport-form-select .input-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 60px;
  width: auto;
  height: 30px;
  line-height: 30px;
  padding: 0 8px;
}
.satreport-form-fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.satreport-form-fields .satreport-form-field {
  flex: 0 1 auto;
}
.satreport-form-fields .satreport-form-field .label {
  display: inline-block;
  margin: 0 10px 0 0;
}
.satreport-form-field {
  display: block;
  vertical-align: middle;
  margin-left: 10px;
  margin-bottom: 10px;
}
.satreport-form-field:first-child {
  margin-left: 0;
}
.satreport-form-field.error .satreport-form-select,
.satreport-form-field.error input {
  border-color: #f04134;
}
.satreport-form-field .tip {
  color: #f04134;
  font-size: 0.9em;
}
.satreport-dimmer {
  display: none;
  position: absolute;
  top: 0 !important;
  left: 0 !important;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  transition: background-color 0.5s linear;
  user-select: none;
  z-index: 1200;
}
.satreport-dimmer.active {
  display: block;
  opacity: 1;
}
form fieldset {
  border: none;
}
form fieldset label {
  display: block;
  margin-bottom: 0.5em;
  font-size: 1em;
  color: #666;
}
form fieldset select {
  font-size: 1.1em;
  width: 100%;
  background-color: #fff;
  border: none;
  border-bottom: 2px solid #ddd;
  padding: 0.5em 0.85em;
  border-radius: 2px;
}
.satreport-modal,
.satreport-toast {
  font-size: 13px;
  position: fixed;
  z-index: 100;
  text-align: left;
  line-height: 1.25em;
  min-width: 360px;
  color: rgba(0, 0, 0, 0.87);
  font-family: 'Lato', 'Source Sans Pro', Roboto, Helvetica, Arial, sans-serif;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  background-clip: padding-box;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px;
  flex-direction: column;
}
.satreport-toast {
  background-color: rgba(255, 255, 255, 0.85);
}
.satreport-modal-header,
.satreport-toast-header {
  font-weight: 600;
  background-clip: padding-box;
  background-color: rgba(255, 255, 255, 0.85);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 4px 4px 0 0;
}
.satreport-modal-header .satreport-icon,
.satreport-toast-header .satreport-icon {
  position: absolute;
  right: 0.8em;
  top: 0.65em;
  border-radius: 18px;
}
.satreport-modal-header .satreport-icon:hover,
.satreport-toast-header .satreport-icon:hover {
  opacity: 1;
  background: rgba(0, 0, 0, 0.08);
}
.satreport-toast-header {
  color: #F2711C;
}
.satreport-modal-header {
  border-bottom: 1px solid #e0e2e4;
  background: rgba(0, 0, 0, 0.08);
  font-size: 1.0785em;
}
.satreport-modal-header,
.satreport-toast-header,
.satreport-toast-content {
  padding: 0.75em 1em;
}
.satreport-modal-content {
  padding: 2px;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .satreport-toolbar {
    display: none;
  }
}
.satreport-toolbar-icon {
  width: 18px;
  height: 18px;
  overflow: hidden;
}
.satreport-icon {
  width: 18px;
  height: 18px;
  margin: 1px 1px 2px 1px;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.satreport-icon .satreport-icon-img {
  background-image: url("data:image/svg+xml,%3c!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3e%3csvg xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' version='1.1' x='0' y='0' width='262px' height='72px' viewBox='0 0 262 72' preserveAspectRatio='none'%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(0,0)'%3e%3cpath fill='%23000000' fill-rule='evenodd' d='M11.5656391,4.43436088 L9,7 L16,7 L16,0 L13.0418424,2.95815758 C11.5936787,1.73635959 9.72260775,1 7.67955083,1 C4.22126258,1 1.25575599,3.10984908 0,6 L2,7 C2.93658775,4.60974406 5.12943697,3.08011229 7.67955083,3 C9.14881247,3.0528747 10.4994783,3.57862053 11.5656391,4.43436088 Z' transform='matrix(-1 0 0 1 17 5)'/%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(18,0)'%3e%3cpath fill='%23000000' fill-rule='evenodd' d='M11.5656391,4.43436088 L9,7 L16,7 L16,0 L13.0418424,2.95815758 C11.5936787,1.73635959 9.72260775,1 7.67955083,1 C4.22126258,1 1.25575599,3.10984908 0,6 L2,7 C2.93658775,4.60974406 5.12943697,3.08011229 7.67955083,3 C9.14881247,3.0528747 10.4994783,3.57862053 11.5656391,4.43436088 Z' transform='translate(1 5)'/%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(36,0)'%3e%3cpath fill='%23000000' fill-rule='evenodd' d='M13,14 L3,14 L3,11 L0,11 L0,6.00591905 C0,4.89808055 0.894513756,4 1.99406028,4 L14.0059397,4 C15.1072288,4 16,4.88655484 16,6.00591905 L16,11 L13,11 L13,14 Z M5,9 L11,9 L11,12 L5,12 L5,9 Z M3,0 L13,0 L13,3 L3,3 L3,0 Z M12,6 L14,6 L14,8 L12,8 L12,6 Z' transform='translate(1 2)'/%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(54,0)'%3e%3cpath fill='%23000000' fill-rule='evenodd' d='M9,0 L1,0 C0.45,0 0,0.45 0,1 L0,4 C0,4.55 0.45,5 1,5 L9,5 C9.55,5 10,4.55 10,4 L10,3 L11,3 L11,6 L4,6 L4,14 L6,14 L6,8 L13,8 L13,2 L10,2 L10,1 C10,0.45 9.55,0 9,0 Z' transform='translate(3 2)'/%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(72,0)'%3e%3cpath fill='%23000000' fill-rule='evenodd' d='M0.27,1.55 L5.43,6.7 L3,12 L5.5,12 L7.14,8.42 L11.73,13 L13,11.73 L1.55,0.27 L0.27,1.55 L0.27,1.55 Z M3.82,0 L5.82,2 L7.58,2 L7.03,3.21 L8.74,4.92 L10.08,2 L14,2 L14,0 L3.82,0 L3.82,0 Z' transform='translate(2 3)'/%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(90,0)'%3e%3cpath fill='%23000000' fill-rule='evenodd' d='M9,3.5 C9,1.57 7.43,0 5.5,0 L1.77635684e-15,0 L1.77635684e-15,12 L6.25,12 C8.04,12 9.5,10.54 9.5,8.75 C9.5,7.45 8.73,6.34 7.63,5.82 C8.46,5.24 9,4.38 9,3.5 Z M5,2 C5.82999992,2 6.5,2.67 6.5,3.5 C6.5,4.33 5.82999992,5 5,5 L3,5 L3,2 L5,2 Z M3,10 L3,7 L5.5,7 C6.32999992,7 7,7.67 7,8.5 C7,9.33 6.32999992,10 5.5,10 L3,10 Z' transform='translate(4 3)'/%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(108,0)'%3e%3cpolygon fill='%23000000' fill-rule='evenodd' points='4 0 4 2 6.58 2 2.92 10 0 10 0 12 8 12 8 10 5.42 10 9.08 2 12 2 12 0' transform='translate(3 3)'/%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(126,0)'%3e%3cpath fill='%23000000' d='M6,12 C8.76,12 11,9.76 11,7 L11,0 L9,0 L9,7 C9,8.75029916 7.49912807,10 6,10 C4.50087193,10 3,8.75837486 3,7 L3,0 L1,0 L1,7 C1,9.76 3.24,12 6,12 Z M0,13 L0,15 L12,15 L12,13 L0,13 Z' transform='translate(3 3)'/%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(144,0)'%3e%3cpath fill='%23010101' fill-rule='evenodd' d='M2.8875,3.06 C2.8875,2.6025 2.985,2.18625 3.18375,1.8075 C3.3825,1.42875 3.66,1.10625 4.02,0.84 C4.38,0.57375 4.80375,0.3675 5.29875,0.22125 C5.79375,0.075 6.33375,0 6.92625,0 C7.53375,0 8.085,0.0825 8.58,0.25125 C9.075,0.42 9.49875,0.6525 9.85125,0.95625 C10.20375,1.25625 10.47375,1.6125 10.665,2.02875 C10.85625,2.44125 10.95,2.895 10.95,3.38625 L8.6925,3.38625 C8.6925,3.1575 8.655,2.94375 8.58375,2.74875 C8.5125,2.55 8.4,2.38125 8.25,2.2425 C8.1,2.10375 7.9125,1.99125 7.6875,1.91625 C7.4625,1.8375 7.19625,1.8 6.88875,1.8 C6.5925,1.8 6.3375,1.83375 6.11625,1.8975 C5.89875,1.96125 5.71875,2.05125 5.57625,2.1675 C5.43375,2.28375 5.325,2.41875 5.25375,2.5725 C5.1825,2.72625 5.145,2.895 5.145,3.0675 C5.145,3.4275 5.32875,3.73125 5.69625,3.975 C5.71780203,3.98908066 5.73942012,4.00311728 5.76118357,4.01733315 C6.02342923,4.18863185 6.5,4.5 7,5 L4,5 C4,5 3.21375,4.37625 3.17625,4.30875 C2.985,3.9525 2.8875,3.53625 2.8875,3.06 Z M14,6 L0,6 L0,8 L7.21875,8 C7.35375,8.0525 7.51875,8.105 7.63125,8.15375 C7.90875,8.2775 8.12625,8.40875 8.28375,8.53625 C8.44125,8.6675 8.54625,8.81 8.6025,8.96 C8.65875,9.11375 8.685,9.28625 8.685,9.47375 C8.685,9.65 8.65125,9.815 8.58375,9.965 C8.51625,10.11875 8.41125,10.25 8.2725,10.35875 C8.13375,10.4675 7.95375,10.55375 7.74,10.6175 C7.5225,10.68125 7.27125,10.71125 6.97875,10.71125 C6.6525,10.71125 6.35625,10.6775 6.09,10.61375 C5.82375,10.55 5.59875,10.445 5.41125,10.3025 C5.22375,10.16 5.0775,9.9725 4.9725,9.74375 C4.8675,9.515 4.78125,9.17 4.78125,9 L2.55,9 C2.55,9.2525 2.61,9.6875 2.72625,10.025 C2.8425,10.3625 3.0075,10.66625 3.21375,10.9325 C3.42,11.19875 3.6675,11.4275 3.94875,11.6225 C4.23,11.8175 4.53375,11.9825 4.86375,12.11 C5.19375,12.24125 5.535,12.33875 5.89875,12.39875 C6.25875,12.4625 6.6225,12.4925 6.9825,12.4925 C7.5825,12.4925 8.13,12.425 8.6175,12.28625 C9.105,12.1475 9.525,11.94875 9.87,11.69375 C10.215,11.435 10.48125,11.12 10.6725,10.74125 C10.86375,10.3625 10.95375,9.935 10.95375,9.455 C10.95375,9.005 10.875,8.6 10.72125,8.24375 C10.68375,8.1575 10.6425,8.075 10.59375,7.9925 L14,8 L14,6 Z' transform='translate(2 3)'/%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(162,0)'%3e%3cpath fill='%23000000' fill-rule='evenodd' d='M7,0 L5,0 L0.5,12 L2.5,12 L3.62,9 L8.37,9 L9.49,12 L11.49,12 L7,0 L7,0 Z M4.38,7 L6,2.67 L7.62,7 L4.38,7 L4.38,7 Z' transform='translate(3 1)'/%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(180,0)'%3e%3cg fill='none' fill-rule='evenodd'%3e %3cpath fill='%23000000' d='M14.5,8.87 C14.5,8.87 13,10.49 13,11.49 C13,12.32 13.67,12.99 14.5,12.99 C15.33,12.99 16,12.32 16,11.49 C16,10.5 14.5,8.87 14.5,8.87 L14.5,8.87 Z M12.71,6.79 L5.91,0 L4.85,1.06 L6.44,2.65 L2.29,6.79 C1.9,7.18 1.9,7.81 2.29,8.2 L6.79,12.7 C6.99,12.9 7.24,13 7.5,13 C7.76,13 8.01,12.9 8.21,12.71 L12.71,8.21 C13.1,7.82 13.1,7.18 12.71,6.79 L12.71,6.79 Z M4.21,7 L7.5,3.71 L10.79,7 L4.21,7 L4.21,7 Z'/%3e %3c/g%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(198,0)'%3e%3cpath fill='%23000000' fill-rule='evenodd' d='M3,6 L1,6 L1,2 L8,2 L8,4 L3,4 L3,6 Z M10,4 L10,2 L17,2 L17,6 L15,6 L15,4 L10,4 Z M10,14 L15,14 L15,12 L17,12 L17,16 L10,16 L10,14 Z M1,12 L3,12 L3,14 L8,14 L8,16 L1,16 L1,12 Z M1,8 L5,8 L5,6 L8,9 L5,12 L5,10 L1,10 L1,8 Z M10,9 L13,6 L13,8 L17,8 L17,10 L13,10 L13,12 L10,9 Z'/%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(216,0)'%3e%3cpath fill='%23000000' fill-rule='evenodd' d='M0,14 L10,14 L10,12 L0,12 L0,14 Z M10,4 L0,4 L0,6 L10,6 L10,4 Z M0,0 L0,2 L14,2 L14,0 L0,0 Z M0,10 L14,10 L14,8 L0,8 L0,10 Z' transform='translate(2 2)'/%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(234,0)'%3e%3cpath fill='%23000000' fill-rule='evenodd' d='M2,12 L2,14 L12,14 L12,12 L2,12 Z M2,4 L2,6 L12,6 L12,4 L2,4 Z M0,10 L14,10 L14,8 L0,8 L0,10 Z M0,0 L0,2 L14,2 L14,0 L0,0 Z' transform='translate(2 2)'/%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(0,18)'%3e%3cpath fill='%23000000' fill-rule='evenodd' d='M4,14 L14,14 L14,12 L4,12 L4,14 Z M0,10 L14,10 L14,8 L0,8 L0,10 Z M0,0 L0,2 L14,2 L14,0 L0,0 Z M4,6 L14,6 L14,4 L4,4 L4,6 Z' transform='translate(2 2)'/%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(18,18)'%3e%3cpath fill='%23000000' fill-rule='evenodd' d='M0,0 L0,2 L12,2 L12,0 L0,0 L0,0 Z M2.5,7 L5,7 L5,14 L7,14 L7,7 L9.5,7 L6,3.5 L2.5,7 L2.5,7 Z' transform='translate(3 2)'/%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(36,18)'%3e%3cpath fill='%23000000' fill-rule='evenodd' d='M9.5,3 L7,3 L7,0 L5,0 L5,3 L2.5,3 L6,6.5 L9.5,3 L9.5,3 Z M0,8 L0,10 L12,10 L12,8 L0,8 L0,8 Z M2.5,15 L5,15 L5,18 L7,18 L7,15 L9.5,15 L6,11.5 L2.5,15 L2.5,15 Z' transform='translate(3)'/%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(54,18)'%3e%3cpath fill='%23000000' fill-rule='evenodd' d='M9.5,7 L7,7 L7,0 L5,0 L5,7 L2.5,7 L6,10.5 L9.5,7 L9.5,7 Z M0,12 L0,14 L12,14 L12,12 L0,12 L0,12 Z' transform='translate(3 2)'/%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(72,18)'%3e%3cpath fill='%23000000' fill-rule='evenodd' d='M14,0 L0,0 L0,2 L14,2 L14,0 Z M0,12 L4,12 L4,10 L0,10 L0,12 Z M11.5,5 L0,5 L0,7 L11.75,7 C12.58,7 13.25,7.67 13.25,8.5 C13.25,9.33 12.58,10 11.75,10 L9,10 L9,8 L6,11 L9,14 L9,12 L11.5,12 C13.43,12 15,10.43 15,8.5 C15,6.57 13.43,5 11.5,5 Z' transform='translate(2 3)'/%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(90,18)'%3e%3cpath fill='%23000000' fill-rule='evenodd' d='M0,0 L0,1 L6,7 L6,12 L8,11 L8,7 L14,1 L14,0 L0,0 Z M4,3 L10,3 L7,6 L4,3 Z' transform='translate(2 3)'/%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(108,18)'%3e%3cpolygon fill='%23000000' fill-rule='evenodd' points='10 0 0 0 0 1.8 5.5 7 0 12.2 0 14 10 14 10 12 3.1 12 8 7 3.1 2 10 2' transform='translate(4 2)'/%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(126,18)'%3e%3cpolygon fill='%23000000' fill-rule='evenodd' points='0 0 4 4 8 0' transform='translate(5 7)'/%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(144,18)'%3e%3cpolygon fill='%23000000' fill-rule='evenodd' points='-2 2 2 6 6 2' transform='rotate(-90 8 3)'/%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(162,18)'%3e%3cpath fill='%23000000' fill-rule='evenodd' d='M1.9,4 C1.9,2.84 2.84,1.9 4,1.9 L8,1.9 L8,0 L4,0 C1.79,0 0,1.79 0,4 C0,6.21 1.79,8 4,8 L8,8 L8,6.1 L4,6.1 C2.84,6.1 1.9,5.16 1.9,4 L1.9,4 Z M14,0 L10,0 L10,1.9 L14,1.9 C15.16,1.9 16.1,2.84 16.1,4 C16.1,5.16 15.16,6.1 14,6.1 L10,6.1 L10,8 L14,8 C16.21,8 18,6.21 18,4 C18,1.79 16.21,0 14,0 L14,0 Z M6,5 L12,5 L12,3 L6,3 L6,5 L6,5 Z' transform='translate(0 5)'/%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(180,18)'%3e%3cpath fill='%23000000' fill-rule='evenodd' d='M15,0 C15.55,0 16,0.45 16,1 L16,15 C16,15.55 15.55,16 15,16 L1,16 C0.45,16 0,15.55 0,15 L0,1 C0,0.45 0.45,0 1,0 L15,0 Z M2,2 L2,14 L14,14 L14,2 L2,2 Z M6,12 L4,12 L4,7 L6,7 L6,12 L6,12 Z M9,12 L7,12 L7,4 L9,4 L9,12 L9,12 Z M12,12 L10,12 L10,8 L12,8 L12,12 L12,12 Z' transform='translate(1 1)'/%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(198,18)'%3e%3cg fill='none' fill-rule='evenodd'%3e %3cpath stroke='%23000000' d='M1.5 3.5H16.5V15.5H1.5z'/%3e %3cpath fill='%23000000' d='M6 8H7V15H6z'/%3e %3cpath fill='%23D8D8D8' d='M2 4H16V7H2z'/%3e %3cpath fill='%23000000' d='M2 7H16V8H2zM2 11H16V12H2z'/%3e %3c/g%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(216,18)'%3e%3cpath fill='%23000000' fill-rule='evenodd' d='M2,0.5 C1.17,0.5 0.5,1.17 0.5,2 C0.5,2.83 1.17,3.5 2,3.5 C2.83,3.5 3.5,2.83 3.5,2 C3.5,1.17 2.83,0.5 2,0.5 L2,0.5 Z M12,0.5 C11.17,0.5 10.5,1.17 10.5,2 C10.5,2.83 11.17,3.5 12,3.5 C12.83,3.5 13.5,2.83 13.5,2 C13.5,1.17 12.83,0.5 12,0.5 L12,0.5 Z M7,0.5 C6.17,0.5 5.5,1.17 5.5,2 C5.5,2.83 6.17,3.5 7,3.5 C7.83,3.5 8.5,2.83 8.5,2 C8.5,1.17 7.83,0.5 7,0.5 L7,0.5 Z' transform='translate(2 7)'/%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(234,18)'%3e%3cpath fill='%23000000' fill-rule='evenodd' d='M6,4 L6,0 L4,0 L4,4 L0,4 L0,6 L4,6 L4,10 L6,10 L6,6 L10,6 L10,4 L6,4 Z' transform='translate(4 4)'/%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(0,36)'%3e%3cpath fill='%23000000' fill-rule='evenodd' d='M0,0 L0,14 L14,14 L14,0 L0,0 L0,0 Z M6,12 L2,12 L2,8 L6,8 L6,12 L6,12 Z M6,6 L2,6 L2,2 L6,2 L6,6 L6,6 Z M12,12 L8,12 L8,8 L12,8 L12,12 L12,12 Z M12,6 L8,6 L8,2 L12,2 L12,6 L12,6 Z' transform='translate(2 2)'/%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(18,36)'%3e %3cg fill='%23000000' fill-rule='evenodd' transform='translate(2 2)'%3e %3cpath d='M0,14 L2,14 L2,12 L0,12 L0,14 L0,14 Z M2,3 L0,3 L0,5 L2,5 L2,3 L2,3 Z M3,14 L5,14 L5,12 L3,12 L3,14 L3,14 Z M11,0 L9,0 L9,2 L11,2 L11,0 L11,0 Z M2,0 L0,0 L0,2 L2,2 L2,0 L2,0 Z M5,0 L3,0 L3,2 L5,2 L5,0 L5,0 Z M0,11 L2,11 L2,9 L0,9 L0,11 L0,11 Z M9,14 L11,14 L11,12 L9,12 L9,14 L9,14 Z M12,0 L12,2 L14,2 L14,0 L12,0 L12,0 Z M12,5 L14,5 L14,3 L12,3 L12,5 L12,5 Z M12,14 L14,14 L14,12 L12,12 L12,14 L12,14 Z M12,11 L14,11 L14,9 L12,9 L12,11 L12,11 Z' opacity='.54'/%3e %3cpolygon points='8 0 6 0 6 6 0 6 0 8 6 8 6 14 8 14 8 8 14 8 14 6 8 6'/%3e %3c/g%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(36,36)'%3e %3cg fill='%23000000' fill-rule='evenodd' transform='translate(2 2)'%3e %3cpath d='M6,14 L8,14 L8,12 L6,12 L6,14 L6,14 Z M3,2 L5,2 L5,0 L3,0 L3,2 L3,2 Z M6,11 L8,11 L8,9 L6,9 L6,11 L6,11 Z M3,14 L5,14 L5,12 L3,12 L3,14 L3,14 Z M0,5 L2,5 L2,3 L0,3 L0,5 L0,5 Z M0,14 L2,14 L2,12 L0,12 L0,14 L0,14 Z M0,2 L2,2 L2,0 L0,0 L0,2 L0,2 Z M0,11 L2,11 L2,9 L0,9 L0,11 L0,11 Z M12,11 L14,11 L14,9 L12,9 L12,11 L12,11 Z M12,14 L14,14 L14,12 L12,12 L12,14 L12,14 Z M12,5 L14,5 L14,3 L12,3 L12,5 L12,5 Z M12,0 L12,2 L14,2 L14,0 L12,0 L12,0 Z M6,2 L8,2 L8,0 L6,0 L6,2 L6,2 Z M9,2 L11,2 L11,0 L9,0 L9,2 L9,2 Z M6,5 L8,5 L8,3 L6,3 L6,5 L6,5 Z M9,14 L11,14 L11,12 L9,12 L9,14 L9,14 Z' opacity='.54'/%3e %3cpolygon points='0 8 14 8 14 6 0 6'/%3e %3c/g%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(54,36)'%3e %3cg fill='%23000000' fill-rule='evenodd' transform='translate(2 2)'%3e %3cpath d='M3,14 L5,14 L5,12 L3,12 L3,14 L3,14 Z M0,5 L2,5 L2,3 L0,3 L0,5 L0,5 Z M0,2 L2,2 L2,0 L0,0 L0,2 L0,2 Z M3,8 L5,8 L5,6 L3,6 L3,8 L3,8 Z M3,2 L5,2 L5,0 L3,0 L3,2 L3,2 Z M0,14 L2,14 L2,12 L0,12 L0,14 L0,14 Z M0,8 L2,8 L2,6 L0,6 L0,8 L0,8 Z M0,11 L2,11 L2,9 L0,9 L0,11 L0,11 Z M12,0 L12,2 L14,2 L14,0 L12,0 L12,0 Z M12,8 L14,8 L14,6 L12,6 L12,8 L12,8 Z M12,14 L14,14 L14,12 L12,12 L12,14 L12,14 Z M12,5 L14,5 L14,3 L12,3 L12,5 L12,5 Z M12,11 L14,11 L14,9 L12,9 L12,11 L12,11 Z M9,14 L11,14 L11,12 L9,12 L9,14 L9,14 Z M9,8 L11,8 L11,6 L9,6 L9,8 L9,8 Z M9,2 L11,2 L11,0 L9,0 L9,2 L9,2 Z' opacity='.54'/%3e %3cpolygon points='6 14 8 14 8 0 6 0'/%3e %3c/g%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(72,36)'%3e %3cg fill='%23000000' fill-rule='evenodd' transform='translate(2 2)'%3e %3cpath d='M8,3 L6,3 L6,5 L8,5 L8,3 L8,3 Z M11,6 L9,6 L9,8 L11,8 L11,6 L11,6 Z M8,6 L6,6 L6,8 L8,8 L8,6 L8,6 Z M8,9 L6,9 L6,11 L8,11 L8,9 L8,9 Z M5,6 L3,6 L3,8 L5,8 L5,6 L5,6 Z' opacity='.54'/%3e %3cpath d='M0,0 L14,0 L14,14 L0,14 L0,0 Z M12,12 L12,2 L2,2 L2,12 L12,12 Z'/%3e %3c/g%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(90,36)'%3e %3cg fill='%23000000' fill-rule='evenodd' transform='translate(2 2)'%3e %3cpath d='M6,8 L8,8 L8,6 L6,6 L6,8 L6,8 Z M6,5 L8,5 L8,3 L6,3 L6,5 L6,5 Z M6,11 L8,11 L8,9 L6,9 L6,11 L6,11 Z M6,14 L8,14 L8,12 L6,12 L6,14 L6,14 Z M3,14 L5,14 L5,12 L3,12 L3,14 L3,14 Z M3,2 L5,2 L5,0 L3,0 L3,2 L3,2 Z M3,8 L5,8 L5,6 L3,6 L3,8 L3,8 Z M12,14 L14,14 L14,12 L12,12 L12,14 L12,14 Z M12,8 L14,8 L14,6 L12,6 L12,8 L12,8 Z M12,11 L14,11 L14,9 L12,9 L12,11 L12,11 Z M12,5 L14,5 L14,3 L12,3 L12,5 L12,5 Z M6,2 L8,2 L8,0 L6,0 L6,2 L6,2 Z M12,0 L12,2 L14,2 L14,0 L12,0 L12,0 Z M9,14 L11,14 L11,12 L9,12 L9,14 L9,14 Z M9,8 L11,8 L11,6 L9,6 L9,8 L9,8 Z M9,2 L11,2 L11,0 L9,0 L9,2 L9,2 Z' opacity='.54'/%3e %3cpolygon points='0 14 2 14 2 0 0 0'/%3e %3c/g%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(108,36)'%3e %3cg fill='%23000000' fill-rule='evenodd' transform='translate(2 2)'%3e %3cpath d='M3,8 L5,8 L5,6 L3,6 L3,8 L3,8 Z M0,14 L2,14 L2,12 L0,12 L0,14 L0,14 Z M6,14 L8,14 L8,12 L6,12 L6,14 L6,14 Z M6,11 L8,11 L8,9 L6,9 L6,11 L6,11 Z M3,14 L5,14 L5,12 L3,12 L3,14 L3,14 Z M0,11 L2,11 L2,9 L0,9 L0,11 L0,11 Z M6,8 L8,8 L8,6 L6,6 L6,8 L6,8 Z M0,5 L2,5 L2,3 L0,3 L0,5 L0,5 Z M0,8 L2,8 L2,6 L0,6 L0,8 L0,8 Z M12,8 L14,8 L14,6 L12,6 L12,8 L12,8 Z M12,11 L14,11 L14,9 L12,9 L12,11 L12,11 Z M12,5 L14,5 L14,3 L12,3 L12,5 L12,5 Z M6,5 L8,5 L8,3 L6,3 L6,5 L6,5 Z M9,14 L11,14 L11,12 L9,12 L9,14 L9,14 Z M9,8 L11,8 L11,6 L9,6 L9,8 L9,8 Z M12,14 L14,14 L14,12 L12,12 L12,14 L12,14 Z' opacity='.54'/%3e %3cpolygon points='0 0 0 2 14 2 14 0'/%3e %3c/g%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(126,36)'%3e %3cg fill='%23000000' fill-rule='evenodd' transform='translate(2 2)'%3e %3cpath d='M0,2 L2,2 L2,0 L0,0 L0,2 L0,2 Z M3,2 L5,2 L5,0 L3,0 L3,2 L3,2 Z M3,8 L5,8 L5,6 L3,6 L3,8 L3,8 Z M3,14 L5,14 L5,12 L3,12 L3,14 L3,14 Z M0,5 L2,5 L2,3 L0,3 L0,5 L0,5 Z M0,8 L2,8 L2,6 L0,6 L0,8 L0,8 Z M0,14 L2,14 L2,12 L0,12 L0,14 L0,14 Z M0,11 L2,11 L2,9 L0,9 L0,11 L0,11 Z M9,8 L11,8 L11,6 L9,6 L9,8 L9,8 Z M6,14 L8,14 L8,12 L6,12 L6,14 L6,14 Z M9,14 L11,14 L11,12 L9,12 L9,14 L9,14 Z M6,2 L8,2 L8,0 L6,0 L6,2 L6,2 Z M9,2 L11,2 L11,0 L9,0 L9,2 L9,2 Z M6,11 L8,11 L8,9 L6,9 L6,11 L6,11 Z M6,5 L8,5 L8,3 L6,3 L6,5 L6,5 Z M6,8 L8,8 L8,6 L6,6 L6,8 L6,8 Z' opacity='.54'/%3e %3cpolygon points='12 0 12 14 14 14 14 0'/%3e %3c/g%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(144,36)'%3e %3cg fill='%23000000' fill-rule='evenodd' transform='translate(2 2)'%3e %3cpath d='M5,0 L3,0 L3,2 L5,2 L5,0 L5,0 Z M8,6 L6,6 L6,8 L8,8 L8,6 L8,6 Z M8,9 L6,9 L6,11 L8,11 L8,9 L8,9 Z M11,6 L9,6 L9,8 L11,8 L11,6 L11,6 Z M5,6 L3,6 L3,8 L5,8 L5,6 L5,6 Z M11,0 L9,0 L9,2 L11,2 L11,0 L11,0 Z M8,3 L6,3 L6,5 L8,5 L8,3 L8,3 Z M8,0 L6,0 L6,2 L8,2 L8,0 L8,0 Z M2,9 L0,9 L0,11 L2,11 L2,9 L2,9 Z M12,11 L14,11 L14,9 L12,9 L12,11 L12,11 Z M12,5 L14,5 L14,3 L12,3 L12,5 L12,5 Z M12,8 L14,8 L14,6 L12,6 L12,8 L12,8 Z M12,0 L12,2 L14,2 L14,0 L12,0 L12,0 Z M2,0 L0,0 L0,2 L2,2 L2,0 L2,0 Z M2,3 L0,3 L0,5 L2,5 L2,3 L2,3 Z M2,6 L0,6 L0,8 L2,8 L2,6 L2,6 Z' opacity='.54'/%3e %3cpolygon points='0 14 14 14 14 12 0 12'/%3e %3c/g%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(162,36)'%3e%3cpath fill='%23000000' fill-rule='evenodd' d='M6,14 L8,14 L8,12 L6,12 L6,14 L6,14 Z M3,8 L5,8 L5,6 L3,6 L3,8 L3,8 Z M3,2 L5,2 L5,0 L3,0 L3,2 L3,2 Z M6,11 L8,11 L8,9 L6,9 L6,11 L6,11 Z M3,14 L5,14 L5,12 L3,12 L3,14 L3,14 Z M0,5 L2,5 L2,3 L0,3 L0,5 L0,5 Z M0,14 L2,14 L2,12 L0,12 L0,14 L0,14 Z M0,2 L2,2 L2,0 L0,0 L0,2 L0,2 Z M0,8 L2,8 L2,6 L0,6 L0,8 L0,8 Z M6,8 L8,8 L8,6 L6,6 L6,8 L6,8 Z M0,11 L2,11 L2,9 L0,9 L0,11 L0,11 Z M12,11 L14,11 L14,9 L12,9 L12,11 L12,11 Z M12,14 L14,14 L14,12 L12,12 L12,14 L12,14 Z M12,8 L14,8 L14,6 L12,6 L12,8 L12,8 Z M12,5 L14,5 L14,3 L12,3 L12,5 L12,5 Z M12,0 L12,2 L14,2 L14,0 L12,0 L12,0 Z M6,2 L8,2 L8,0 L6,0 L6,2 L6,2 Z M9,2 L11,2 L11,0 L9,0 L9,2 L9,2 Z M6,5 L8,5 L8,3 L6,3 L6,5 L6,5 Z M9,14 L11,14 L11,12 L9,12 L9,14 L9,14 Z M9,8 L11,8 L11,6 L9,6 L9,8 L9,8 Z' transform='translate(2 2)' opacity='.54'/%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(180,36)'%3e%3cpath fill='%23000000' fill-rule='evenodd' d='M6.5,3.62 L0,10.12 L0,13 L2.88,13 L9.38,6.5 L6.5,3.62 Z M11.85,4.02 C12.05,3.82 12.05,3.51 11.85,3.31 L9.68,1.14 C9.48,0.94 9.17,0.94 8.97,1.14 L7.62,2.5 L10.5,5.38 L11.85,4.02 L11.85,4.02 Z' transform='translate(4)'/%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(198,36)'%3e%3cpath fill='%23000000' fill-rule='evenodd' d='M0,0 L14,0 L14,2 L0,2 L0,0 Z M0,4 L6,4 L6,6 L0,6 L0,4 Z M0,8 L2,8 L2,10 L0,10 L0,8 Z M8,4 L14,4 L14,6 L8,6 L8,4 Z M4,8 L6,8 L6,10 L4,10 L4,8 Z M8,8 L10,8 L10,10 L8,10 L8,8 Z M12,8 L14,8 L14,10 L12,10 L12,8 Z' transform='translate(2 4)'/%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(216,36)'%3e%3cpolygon fill='%23000000' fill-rule='evenodd' points='-2 2 2 6 6 2' transform='rotate(90 3 10)'/%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(234,36)'%3e%3cpolygon fill='%23000000' fill-rule='evenodd' points='7.53 1.53 6.47 .47 4 2.94 1.53 .47 .47 1.53 2.94 4 .47 6.47 1.53 7.53 4 5.06 6.47 7.53 7.53 6.47 5.06 4' transform='translate(5 5)'/%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(0,54)'%3e%3cpolygon fill='%23000000' fill-rule='evenodd' points='8.44 .44 5 3.88 1.56 .44 .5 1.5 5 6 9.5 1.5' transform='translate(4 6)'/%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(18,54)'%3e%3cpolygon fill='%23000000' fill-rule='evenodd' points='5 0 .5 4.5 1.56 5.56 5 2.12 8.44 5.56 9.5 4.5' transform='translate(4 6)'/%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(36,54)'%3e%3cpolygon fill='%23000000' fill-rule='evenodd' points='8.44 .44 5 3.88 1.56 .44 .5 1.5 5 6 9.5 1.5' transform='rotate(90 4 8)'/%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(54,54)'%3e%3cpolygon fill='%23000000' fill-rule='evenodd' points='5 0 .5 4.5 1.56 5.56 5 2.12 8.44 5.56 9.5 4.5' transform='rotate(90 4 8)'/%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(72,54)'%3e%3cpolygon fill='%23000000' fill-rule='evenodd' points='12 5 3.125 5 7.06 1.06 6 0 0 6 6 12 7.06 10.94 3.125 7 12 7' transform='matrix(-1 0 0 1 15 3)'/%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(90,54)'%3e%3cpolygon fill='%23000000' fill-rule='evenodd' points='12 5 3.125 5 7.06 1.06 6 0 0 6 6 12 7.06 10.94 3.125 7 12 7' transform='translate(3 3)'/%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(108,54)'%3e %3cpath fill='%23000000' fill-rule='evenodd' d='M0,1.00684547 C0,0.450780073 0.455664396,-4.56419617e-27 0.995397568,7.17464814e-43 L10,7.6146463e-26 L14,4 L14,13.0046024 C14,13.5543453 13.5500512,14 12.9931545,14 L1.00684547,14 C0.450780073,14 0,13.5500512 0,12.9931545 L0,1.00684547 Z M2,2 L8,2 L8,5 L2,5 L2,2 Z M7,11 C8.1045695,11 9,10.1045695 9,9 C9,7.8954305 8.1045695,7 7,7 C5.8954305,7 5,7.8954305 5,9 C5,10.1045695 5.8954305,11 7,11 Z' transform='translate(2 2)'/%3e %3c/g%3e %3cg xmlns='http://www.w3.org/2000/svg' transform='translate(126,54)'%3e %3cpath fill='%23000' d='M11.6628542 19H8.33386438c-.66579796 0-1.22362869-.4743777-1.30460412-1.1156662l-.24292629-1.6603221c-.24292628-.1229868-.4768553-.2547584-.71078432-.4040995l-1.61950857.6325036c-.62980889.2284041-1.32259867-.0263543-1.62850584-.5710102l-1.64650038-2.7847731c-.31490445-.579795-.1799454-1.2650073.32390171-1.6515373l1.37658229-1.045388c-.00899727-.1317716-.01799454-.2635432-.01799454-.40409959 0-.13177159.00899727-.27232796.01799454-.40409956L1.51393384 8.54612006c-.53083892-.39531479-.66579796-1.10688141-.33289898-1.65153734l1.66449492-2.8023426c.30590717-.54465593.99869695-.79062958 1.6105113-.55344071l1.62850584.64128844c.23392902-.14934114.46785804-.28111274.70178705-.40409956l.24292629-1.67789166C7.11023569 1.48316252 7.66806642 1 8.32486711 1H11.653857c.6657979 0 1.2236287.47437775 1.3046041 1.11566618l.2429263 1.66032211c.2429263.12298682.4768553.25475842.7107843.40409956l1.6195086-.63250366c.6388061-.2284041 1.3315959.02635432 1.6375031.57101025l1.6554976 2.79355783c.3239017.57979502.1799454 1.26500732-.3239017 1.65153733l-1.367585 1.045388c.0089973.13177159.0179945.26354319.0179945.4040996 0 .1405563-.0089972.2723279-.0179945.4040995l1.367585 1.045388c.5038471.3953148.6478034 1.0805271.332899 1.6339678l-1.6734922 2.8286969c-.3059072.544656-.998697.7906296-1.6195086.5534407l-1.6195085-.6325036c-.2339291.1493411-.4678581.2811127-.7017871.4040995l-.2429263 1.6778917C12.8864829 18.5256223 12.3286522 19 11.6628542 19zm-2.89131623-2h2.46585833l.330568-2.1636364.4735162-.1866666c.3931079-.1527273.7862157-.3733334 1.1971921-.6618182l.4020421-.2884849 2.1263561.8145455L17 12.4775758l-1.8136567-1.3406061.0625399-.4751515c.0268028-.2206061.0536056-.4327273.0536056-.6618182 0-.22909091-.0268028-.44969697-.0536056-.66181818l-.0625399-.47515152L17 7.52242424l-1.2418634-2.03636363-2.1352904.81454545-.4020421-.2969697c-.3752393-.27151515-.7772814-.49212121-1.1882578-.65333333l-.464582-.18666667L11.2373963 3H8.77153797l-.33056796 2.16363636-.47351628.17818182c-.39310785.16121212-.7862157.37333334-1.19719208.67030303l-.40204212.28-2.1263561-.8060606L3 7.51393939l1.81365667 1.34060606-.06253989.47515152c-.0268028.22060606-.05360561.44969697-.05360561.67030303 0 .2206061.01786854.449697.05360561.6618182l.06253989.4751515L3 12.4775758l1.23292916 2.0363636 2.13529037-.8145455.40204212.2969697c.38417358.28.76834716.4921212 1.18825781.6533334l.47351628.1866666L8.77153797 17zM10 13c1.6568542 0 3-1.3431458 3-3 0-1.65685425-1.3431458-3-3-3-1.65685425 0-3 1.34314575-3 3 0 1.6568542 1.34314575 3 3 3z'/%3e %3c/g%3e %3c/svg%3e");
  position: absolute;
  width: 262px;
  height: 444px;
  opacity: 0.56;
}
.satreport-icon .satreport-icon-img.undo {
  left: 0;
  top: 0;
}
.satreport-icon .satreport-icon-img.redo {
  left: -18px;
  top: 0;
}
.satreport-icon .satreport-icon-img.print {
  left: -36px;
  top: 0;
}
.satreport-icon .satreport-icon-img.paintformat {
  left: -54px;
  top: 0;
}
.satreport-icon .satreport-icon-img.clearformat {
  left: -72px;
  top: 0;
}
.satreport-icon .satreport-icon-img.font-bold {
  left: -90px;
  top: 0;
}
.satreport-icon .satreport-icon-img.font-italic {
  left: -108px;
  top: 0;
}
.satreport-icon .satreport-icon-img.underline {
  left: -126px;
  top: 0;
}
.satreport-icon .satreport-icon-img.strike {
  left: -144px;
  top: 0;
}
.satreport-icon .satreport-icon-img.color {
  left: -162px;
  top: 0;
}
.satreport-icon .satreport-icon-img.bgcolor {
  left: -180px;
  top: 0;
}
.satreport-icon .satreport-icon-img.merge {
  left: -198px;
  top: 0;
}
.satreport-icon .satreport-icon-img.align-left {
  left: -216px;
  top: 0;
}
.satreport-icon .satreport-icon-img.align-center {
  left: -234px;
  top: 0;
}
.satreport-icon .satreport-icon-img.align-right {
  left: 0;
  top: -18px;
}
.satreport-icon .satreport-icon-img.align-top {
  left: -18px;
  top: -18px;
}
.satreport-icon .satreport-icon-img.align-middle {
  left: -36px;
  top: -18px;
}
.satreport-icon .satreport-icon-img.align-bottom {
  left: -54px;
  top: -18px;
}
.satreport-icon .satreport-icon-img.textwrap {
  left: -72px;
  top: -18px;
}
.satreport-icon .satreport-icon-img.autofilter {
  left: -90px;
  top: -18px;
}
.satreport-icon .satreport-icon-img.formula {
  left: -108px;
  top: -18px;
}
.satreport-icon .satreport-icon-img.arrow-down {
  left: -126px;
  top: -18px;
}
.satreport-icon .satreport-icon-img.arrow-right {
  left: -144px;
  top: -18px;
}
.satreport-icon .satreport-icon-img.link {
  left: -162px;
  top: -18px;
}
.satreport-icon .satreport-icon-img.chart {
  left: -180px;
  top: -18px;
}
.satreport-icon .satreport-icon-img.freeze {
  left: -198px;
  top: -18px;
}
.satreport-icon .satreport-icon-img.ellipsis {
  left: -216px;
  top: -18px;
}
.satreport-icon .satreport-icon-img.add {
  left: -234px;
  top: -18px;
}
.satreport-icon .satreport-icon-img.border-all {
  left: 0;
  top: -36px;
}
.satreport-icon .satreport-icon-img.border-inside {
  left: -18px;
  top: -36px;
}
.satreport-icon .satreport-icon-img.border-horizontal {
  left: -36px;
  top: -36px;
}
.satreport-icon .satreport-icon-img.border-vertical {
  left: -54px;
  top: -36px;
}
.satreport-icon .satreport-icon-img.border-outside {
  left: -72px;
  top: -36px;
}
.satreport-icon .satreport-icon-img.border-left {
  left: -90px;
  top: -36px;
}
.satreport-icon .satreport-icon-img.border-top {
  left: -108px;
  top: -36px;
}
.satreport-icon .satreport-icon-img.border-right {
  left: -126px;
  top: -36px;
}
.satreport-icon .satreport-icon-img.border-bottom {
  left: -144px;
  top: -36px;
}
.satreport-icon .satreport-icon-img.border-none {
  left: -162px;
  top: -36px;
}
.satreport-icon .satreport-icon-img.line-color {
  left: -180px;
  top: -36px;
}
.satreport-icon .satreport-icon-img.line-type {
  left: -198px;
  top: -36px;
}
.satreport-icon .satreport-icon-img.close {
  left: -234px;
  top: -36px;
}
.satreport-icon .satreport-icon-img.chevron-down {
  left: 0;
  top: -54px;
}
.satreport-icon .satreport-icon-img.chevron-up {
  left: -18px;
  top: -54px;
}
.satreport-icon .satreport-icon-img.chevron-left {
  left: -36px;
  top: -54px;
}
.satreport-icon .satreport-icon-img.chevron-right {
  left: -54px;
  top: -54px;
}
.satreport-icon .satreport-icon-img.save {
  left: -108px;
  top: -54px;
}
.satreport-icon .satreport-icon-img.calc {
  left: -126px;
  top: -54px;
}
/* printbar */
.satreport-image-button {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-sizing: border-box;
  border-color: transparent;
  background-color: transparent;
  display: flex;
  justify-content: center;
  margin: 5px;
  cursor: pointer;
}
.satreport-image-button.active {
  background-color: #778899;
}
.satreport-image-button:hover {
  background-color: #767676;
}
.satreport-image-button .icon {
  fill: #fff;
  width: 32px;
  height: 32px;
  align-self: center;
}
.satreport-header-filter {
  padding: 5px;
}
.satreport-header-filter .satreport-filter-hpane {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}
.satreport-header-filter .satreport-filter-hpane a {
  color: blue;
  cursor: pointer;
}
.satreport-header-filter .satreport-filter-data {
  border: 1px solid #ccc;
}
.satreport-filter-item {
  width: 100%;
}
.satreport-filter-item:hover {
  background-color: #f5f5f5;
}

.bl-input {
  position: relative;
}
.bl-input .bl-input__inner {
  height: 32px;
  padding: 0 10px 0 10px;
  border: 1px solid #DCDFE6;
  border-radius: 4px;
  color: #606266;
  background-color: #fff;
  padding-left: 32px;
  box-sizing: border-box;
  width: 100%;
}
.bl-input .bl-input__inner:focus {
  border-color: #409EFF;
  outline: none;
}
.bl-input .bl-input__inner::placeholder {
  color: #e2e2e3;
}
.bl-input .bl-input__prefix,
.bl-input .bl-input__suffix {
  position: relative;
  display: flex;
  align-items: center;
  color: #606266;
}
.bl-input .bl-input__suffix {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}
.bl-input .bl-input__suffix svg {
  width: 16px;
  height: 16px;
}
.bl-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 12px 20px;
  font-size: 14px;
  line-height: 1;
  height: 32px;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  border: 1px solid transparent;
  border-radius: 4px;
}
.bl-button.bl-button--primary {
  color: #fff;
  background-color: #409EFF;
  border-color: #409EFF;
}
.bl-button.bl-button--primary:hover {
  background-color: #0d84ff;
  border-color: #0d84ff;
}
.bl-button.bl-button--default {
  color: #606266;
  background-color: #fff;
  border-color: #DCDFE6;
}
.bl-button.bl-button--default:hover {
  background-color: #ffffff;
  border-color: #ffffff;
}
.bl-button.bl-button--disabled,
.bl-button[disabled] {
  color: #C0C4CC;
  cursor: not-allowed;
  background-color: #f5f7fa;
  border-color: #ebeef5;
}
.bl-checkbox {
  display: inline-flex;
  align-items: center;
  margin-bottom: 10px;
}
.bl-checkbox .bl-checkbox__input {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  cursor: pointer;
}
.bl-checkbox .bl-checkbox__input .bl-checkbox__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #DCDFE6;
  border-radius: 2px;
  background-color: #fff;
  transition: all 0.1s ease-in-out;
}
.bl-checkbox .bl-checkbox__input .bl-checkbox__inner::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 4px;
  width: 2px;
  height: 6px;
  border: solid #409EFF;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: all 0.1s ease-in-out;
}
.bl-checkbox .bl-checkbox__input .bl-checkbox__inner.is-checked {
  background-color: #409EFF;
  border-color: #409EFF;
}
.bl-checkbox .bl-checkbox__input .bl-checkbox__inner.is-checked::after {
  opacity: 1;
}
.bl-checkbox .bl-checkbox__label {
  font-size: 14px;
  color: #606266;
}

.satreport-designer-btns {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
}
.satreport-designer-btns .satreport-image-button {
  flex: 0 0 auto;
  display: inline-flex;
  border: 1px solid transparent;
  height: 26px;
  line-height: 26px;
  width: 26px;
  margin: 0;
  padding: 0;
  text-align: center;
  border-radius: 2px;
  pointer-events: auto;
}
.satreport-designer-btns .satreport-image-button.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.satreport-designer-btns .satreport-image-button:hover,
.satreport-designer-btns .satreport-image-button.active {
  background: rgba(0, 0, 0, 0.08);
}
.satreport-designer-btns .satreport-image-button .icon {
  fill: #000;
  width: 18px;
  height: 18px;
  align-self: center;
}
.satreport-designer {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2000;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.satreport-designer .content {
  display: flex;
  background: #FFF;
  height: calc(100% - 60px);
  flex: auto;
  padding-top: 5px;
}
.satreport-designer .content .left-pane {
  min-width: 100px;
  width: 180px;
  border: 1px solid lightgray;
  overflow: hidden;
}
.satreport-designer .content .right-pane {
  min-width: 100px;
  width: 180px;
  border: 1px solid lightgray;
  overflow: hidden;
}
.satreport-designer .content .center-pane {
  flex-grow: 1;
  border: 1px solid lightgray;
  overflow: hidden;
}
.satreport-designer-bar {
  display: flex;
  position: relative;
  background: #2d2d2d;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  color: #fff;
}
.satreport-designer-bar .-title {
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  float: left;
  margin-left: 15px;
}
.satreport-designer-bar .center {
  flex-grow: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

